<style>
    d{
        display: flex;
    }
    h2{
        display: block;
        margin-top: 35%;
        /* float: right; */ 
        text-align: left;
    }
    a{  display: block;
        /* float: right; */ 
        text-align: center;
        text-align: left;
        /* margin-top: 20%; */
    }
    .d1{
        width: 50%;
        display: inline-block;
        
    }
    .d2{
        
        width: 50%;
        float: right;
        /* background-color: aqua; */
height: 600px;

        
    }
    body{
        margin: 0;
    }
    button{
       background-color: green;
       width: 180px;
       height: 40px;
       border-radius: 5px;
    }
</style>
<div class="d">
<div class="d1">
    <!--  -->
    <img padding="0"width="100%" height="600px" src="no result.jpg" alt="">
</div>
<div class="d2">
        <h2>No booking is found for the number <%=user2.pnr_no%> </h2>
        <a href="/pnr"><button>CHECK AGAIN</button></a>
</div>
    
</div>
